<section class="py-8">
    <div class="w-[90%] mx-auto">
        <div class="flex justify-between">
            <h2 class="font-encode text-3xl">All products</h2>
        </div>
        <div class="w-11/12 md:w-9/12 mx-auto my-4">
            <label for="product-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <i class="w-4 h-4 text-gray-500 fa-solid fa-magnifying-glass"></i>
                </div>
                <input type="text" id="product-search" [(ngModel)]="searchWord"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-main focus:border-main"
                    placeholder="Search Mockups, Logos..." />
                <button type="submit"
                    class="text-white absolute end-2.5 bottom-2.5 bg-main hover:scale-105 font-medium rounded-lg text-sm px-4 py-2">Search</button>
            </div>
        </div>
        <div class="justify-around flex flex-wrap">
            @for (product of productList | search: searchWord; track product.id) {
            <app-specific-product (click)="openModal(product)" [product]='product'></app-specific-product>
            }
        </div>
    </div>
    <app-product-modal (dataEmitter)="closeModal($event)" [product]="selectedProduct"></app-product-modal>
</section>