<section class="bg-cover bg-center py-10 px-4">
    <div class="max-w-md mx-auto">
        <h2 class="text-3xl font-encode mb-8">Forget password</h2>
        @if ( currentStep == 1 ) {
        <form class="my-4" [formGroup]="verifyEmail" (ngSubmit)="validateVerifyEmail()">
            <div class="relative z-0 w-full mb-5 group">
                <input type="email" name="email" id="email" placeholder=" " formControlName="email"
                    class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent rounded border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-main peer" />
                <label for="email"
                    class="peer-focus:font-medium ml-2 absolute text-sm text-gray-500 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Email</label>
                @if(verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched) {
                <div class="bg-[#fbd5d5ac] py-2 mt-2 rounded-md">
                    @if(verifyEmail.get('email')?.getError('required')) {
                    <p class="text-center text-gray-700">Email is required</p>
                    }
                    @else if(verifyEmail.get('email')?.getError('email')) {
                    <p class="text-center text-gray-700">Please enter a valid email</p>
                    }
                </div>
                }
            </div>
            <div class="w-full flex justify-center">
                <button type="submit" [disabled]="isLoading"
                    class="bg-main text-white py-2 px-6 rounded w-full md:w-fit transition-all hover:scale-105">Send
                    Reset
                    Code
                    @if (isLoading) {
                    <i class="fas fa-spinner fa-spin"></i>
                    }
                </button>
            </div>
        </form>
        }
        @if ( currentStep == 2 ) {
        <form class="my-4" [formGroup]="verifyCode" (ngSubmit)="validateVerifyCode()">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="code" id="code" placeholder=" " formControlName="resetCode"
                    class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent rounded border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-main peer" />
                <label for="code"
                    class="peer-focus:font-medium ml-2 absolute text-sm text-gray-500 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Reset
                    Code</label>
                @if (verifyCode.get('code')?.errors && verifyCode.get('code')?.touched) {
                <div class="bg-[#fbd5d5ac] py-2 mt-2 rounded-md">
                    @if (verifyCode.get('code')?.getError('required')) {
                    <p class="text-center text-gray-700">Code is required</p>
                    }
                    @if (verifyCode.get('code')?.getError('minlength')) {
                    <p class="text-center text-gray-700">Code must be 6 digits</p>
                    }
                </div>
                }
            </div>
            <div class="w-full flex justify-center">
                <button type="submit" [disabled]="isLoading"
                    class="bg-main text-white py-2 px-6 rounded w-full md:w-6/12 transition-all hover:scale-105">Verify
                    Code
                    @if (isLoading) {
                    <i class="fas fa-spinner fa-spin"></i>
                    }
                </button>
            </div>
        </form>
        }
        @if ( currentStep == 3 ) {
        <form class="my-4" [formGroup]="resetPassword" (ngSubmit)="validateResetPassword()">
            <div class="relative z-0 w-full mb-5 group">
                <input readonly type="email" name="email" id="email" placeholder=" " formControlName="email"
                    class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent rounded border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-main peer" />
                <label for="email"
                    class="peer-focus:font-medium ml-2 absolute text-sm text-gray-500 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Email</label>
                @if(resetPassword.get('email')?.errors && resetPassword.get('email')?.touched) {
                <div class="bg-[#fbd5d5ac] py-2 mt-2 rounded-md">
                    @if(resetPassword.get('email')?.getError('required')) {
                    <p class="text-center text-gray-700">Email is required</p>
                    }
                    @else if(resetPassword.get('email')?.getError('email')) {
                    <p class="text-center text-gray-700">Please enter a valid email</p>
                    }
                </div>
                }
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="password" name="newPassword" id="newPassword" placeholder=" " formControlName="newPassword"
                    class="block py-2.5 px-2 w-full text-sm text-gray-900 bg-transparent rounded border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-main peer" />
                <label for="newPassword"
                    class="peer-focus:font-medium ml-2 absolute text-sm text-gray-500 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">New
                    Password</label>
                @if(resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched) {
                <div class="bg-[#fbd5d5ac] py-2 mt-2 rounded-md">
                    @if(resetPassword.get('newPassword')?.getError('required')) {
                    <p class="text-center text-gray-700">Password is required</p>
                    }
                    @else if(resetPassword.get('newPassword')?.getError('newPassword')) {
                    <p class="text-center text-gray-700">Please enter a valid password</p>
                    }
                </div>
                }
            </div>
            <div class="w-full flex justify-center">
                <button type="submit" [disabled]="isLoading"
                    class="bg-main text-white py-2 px-6 rounded w-full md:w-fit transition-all hover:scale-105">Reset
                    Password
                    @if (isLoading) {
                    <i class="fas fa-spinner fa-spin"></i>
                    }
                </button>
            </div>
        </form>
        }
    </div>
</section>