<section class="my-8">
    <div class="flex">
        <div class="w-9/12">
            <owl-carousel-o [options]="mainCarousel">
                <ng-template carouselSlide>
                    <div>
                        <img src="/assets/images/slider-image-1.jpeg" alt="Bag of different vegetables"
                            class="h-[300px]" />
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div>
                        <img src="/assets/images/slider-image-2.jpeg" alt="Pink wafer rolls box" class="h-[300px]" />
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div>
                        <img src="/assets/images/slider-image-3.jpeg" alt="Cocao Packet" class="h-[300px]" />
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="w-3/12 flex flex-col">
            <img class="w-full h-[150px]" src="/assets/images/grocery-banner.png" alt="Bag of different vegetables">
            <img class="w-full h-[150px]" src="/assets/images/grocery-banner-2.jpeg" alt="Bag of bread">
        </div>
    </div>
</section>
<section>
    <h2 class="font-encode text-3xl w-[90%] mx-auto my-4">Featured categories</h2>
    <div class="w-full flex justify-between">
        <owl-carousel-o [options]="categoriesCarousel" class="justify-between flex w-full">
            @for (category of categoriesList; track category._id) {
            <ng-template carouselSlide>
                <div class="">
                    <img [src]="category.image" [alt]="category.name" class="h-36">
                    <h2 class="text-center">{{category.name}}</h2>
                </div>
            </ng-template>
            }
        </owl-carousel-o>
    </div>
</section>
<section>
    <div class="w-[90%] mx-auto">
        <h2 class="font-encode text-3xl">Featured products</h2>
        <div class="flex justify-around flex-wrap">
            @for (product of productList; track product.id) {
            <app-specific-product (click)="openModal(product)" [product]='product'></app-specific-product>
            }
        </div>
    </div>
    <app-product-modal (dataEmitter)="closeModal($event)" [product]="selectedProduct"></app-product-modal>
</section>